@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,400&display=swap');

*{
    margin: 0px;;
    padding: 0px;;
    box-sizing: border-box;;
    text-decoration: none;;
    list-style: none;;
}

.body {
    font-family: 'Poppins', sans-serif;;
}

.container{
    max-width: 1200px;;
    margin: 0 auto;;
}

/*!---- Inicio video Fondo de pantalla  ----->*/
video{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-color: rgba(0, 0, 0, 0.2);
}
/*!---- Final video Fondo de pantalla  ----->*/

/*!---- inicio inicio----->*/
.header-porta{
    background-image: url(../images/lamia1.png);;
    background-position: center bottom;;
    background-repeat: no-repeat;;
    background-size: cover;;
    min-height: 20vh;;
    height: 100%;;
    display: flex;;
    align-items: center;;
    justify-content: center;;
    border: none;;
}
/*!---- final inicio ----->*/



/*!---- inicio parrafo p1----->*/
.p1{
    justify-content: right;
    align-items: right;
}
/*!---- final parrafo p1----->*/


.general{
    padding: 50px 0;;
    text-align: center;;
}

.general-content{
    display: flex;;
    justify-content: space-between;;
    margin-top: 55px;;
}


/*!---- Inicio r-- Donaciones / Me Gusta / La Hora-->*/
.general-7{
    background-image: url(../images/r6.png);;/*!-- r4 ->*/
    background-position: center center;;
    background-repeat: no-repeat;;
    background-size: cover;;
    border-radius: 0 #000;
    height: 400px;;
    width: 400px;
    padding: 70px 5px;;
    border: none;
}
/*!---- final r-- Donaciones / Me Gusta / La Hora-->*/


/*!---- Inicio r-- Nuestra Musica -->*/
.general-1{
    background-image: url(../images/r8.png);;
    background-position: center center;;
    background-repeat: no-repeat;;
    background-size: cover;;
    height: 300px;;
    width: 380px;
    padding: 70px 55px;;
    border: none;
}

.general-2{
    background-image: url(../images/r1.png);;
    background-position: center center;;
    background-repeat: no-repeat;;
    background-size: cover;;
    height: 300px;;
    width: 400px;
    padding: 70px 5px;;
    border: none;
}

.general-3{
    background-image: url(../images/r8.png);;
    background-position: center center;;
    background-repeat: no-repeat;;
    background-size: cover;;
    height: 300px;;
    width: 380px;
    padding: 70px 55px;;
    border: none;
}
/*!---- Final r-- Nuestra Musica -->*/


/*!---- Inicio r Gerente / Secretaria / Promotor---->*/
.general-4{
    background-image: url(../images/r1.png);;/*!-- r4 ->*/
    background-position: center center;;
    background-repeat: no-repeat;;
    background-size: cover;;
    height: 400px;;
    width: 430px;
    padding: 70px 5px;;
    border: none;
}

.general-5{
    background-image: url(../images/r2.png);;     /*!---- r5 ----->*/
    background-position: center center;;
    background-repeat: no-repeat;;
    background-size: cover;;
    height: 400px;;
    width: 430px;
    padding: 70px 5px;;
    border: none;
}

.general-6{
    background-image: url(../images/r3.png);;
    background-position: center center;;
    background-repeat: no-repeat;;
    background-size: cover;;
    height: 400px;;
    width: 430px;
    padding: 70px 5px;;
    border: none;
}
/*!---- Final r Gerente / Secretaria / Promotor---->*/


h2{
    font-size: 70px;;
    text-transform: uppercase;;
    color: #18293A;;
}

.txt h3{
    font-size: 18px;;
    color: #fff;;
    text-transform: uppercase;;
    margin-bottom: 10px;;
}
  
.txt p{
    color: #ebebeb;;
    font-size: 16px;;
}
/*!---- final general ----->*/

@media(max-width:991px){
    .menu {
        padding: 30px;;
    }
    .menu label {
        display:initial;;
    }
    .menu .navbar{
        position: absolute;;
        top: 100%;;
        left: 0;;
        right: 0;;
        background-color: #18293A;;
        display: none;;
    }
    .menu .navbar ul li{
        width: 100%;;
    }
    #menu:checked ~ .navbar{
        display: inherit;;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 100% 30px;
    }

    .header-txt h1{
        font-size: 50px;
    }

    .header-txt p{
        padding: 0;
    }

    .general{
        padding: 30px 30px 0 30px;
    }

    .general-content{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .general-1,
    .general-2,
    .general-3,
    .general-4,
    .general-5,
    .general-6{
        height: 350px;
        padding: 100px 30px;
        margin-bottom: 10px ;
    }

    .info-1{
        padding: 200px 30px;
        background-size: cover;
        margin-top: -110px;
    }

    .info-circle{
        flex-direction: column;
        align-items: center;
    }

    .circle-txt{
        width: 100%;
        margin-bottom: 25%;
    }

    .g2{
        margin-top: -120px;   
    }

    .info-2{
        padding: 200px 30px;
        background-size: cover;
        margin-top: -180px;
    }

    .testi{
        flex-direction: column;
    }

    .testi-left{
        width: 100%;
        padding-right: 0;
    }

    .testi-right{
        width: 100%;
        padding-left: 0;
    }

    .h2{
        font-size: 40px;
    }

    
    .footer{
        padding: 0;
        margin-top: -140px;
    }

    form{
        display: flex;
        flex-direction: column;
        padding: 0 50px;
    }

    .campo{
        margin: 0 0 10px 0;
    }
    .footer-txt{
        margin-top: 30px;
    }
}


/*!-------------- Inicio Parrafo Marquee------------->*/
.parrafo1 marquee{
    font-size: 20px;
    font-style: italic;
    text-align: justify;
    
	-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}

.parrafo2 marquee{
    font-size: 20px;
    font-style: italic;
    text-align: justify;

	-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}

.parrafo3 marquee{
    font-size: 20px;
    font-style: italic;
    text-align: justify;

	-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}

.parrafo1{
    font-size: 20px;
    font-style: italic;
    text-align: justify;

	-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}

.parrafo2{
    font-size: 20px;
    font-style: italic;
    text-align: justify;

	-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}

.parrafo3{
    font-size: 20px;
    font-style: italic;
    text-align: justify;

	-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}
/*!-----------  Final: Parrafo Marqueeee -------------->*/
/*!--------------------------------------------------->*/

 
  /*!------------>*
  &ensp; &ensp;&ensp;
/*!------ ------>*


/*!--------------------------------------------------->*/
/*!----  Inicio Las OPCIONES---->*/
.opciones {
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.opciones li {
   float: center;
   list-style: none;
   display: flex;
   float: right;
}

.opciones li a {
    color: #000;
    padding: 2px 2px;
    text-decoration: none;
    display: flex;
    position: center;
 }
  /*!-------->*/
 .opciones li a:hover {
    color: white;
    background: #00ff24;
    border-radius: 10px;
    display: flex;
 }
/*!----  Final: Las OPCIONES---->*/
/*!------------------------------------------------->*/


/*!------------------------------------------------->*/
/*!---- Inicio: de Artesanias ------>*/
.mochila-container {
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-wrap: wrap;
    /*!-----ojoooooooo--->*/ 
    max-width: 1200px;
    width: 100%;
    /*!-------->*/
    margin: 10px auto;
}
/*!---- Final: de Artesanias ------>*/
/*!------------------------------------------------>*/


/*!------------------------------------------------>*/
/*!- Inicio: Instrumentos vallenatos Face y Back------>*/
.totumo-head {
    display: flex;
    justify-content: center;
    width: 80%;
}

/*!----Inicio Parte Frontal ----->*/
.card {
    position: center;
    width: 100%;
    height: 340px;
    margin: 4px;
    padding: 0px;
    border: none;
}

.card .face {
    position: absolute;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0px;
    overflow: hidden;
    transition: .5s;  
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: hwb(69 4% 3% / 0.7); /*!-color regleta conga-trompeta-maracas---->*/
    text-align: center;
}

.card .front .elacordeon {
    position: center;
    width: 98%;
    height: 292px;
    object-fit: cover;
    border: none;
}
    
.card .front .lacaja {
    position: center;
    width: 98%;
    height: 292px;
    object-fit: cover;
    border: none;
}
    
.card .front .laguacharaca {
    position: center;
    width: 98%;
    height: 292px;
    object-fit: cover;
    border: none;
}
    
.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
/*!----Final: Parte Frontal ----->*/
/*!----Inicio: Parte Trasera ----->*/
 .card .back {
    transform: perspective(600px) rotateY(180deg);
    background: linear-gradient(rgb(0, 204, 126), #0575e6, #6e2d3d, #ffF260);  /*!-color back---->*/
    padding: 10px;
    color: #000;  /*!-color parrafos back---->*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    text-align: center;                             
    box-shadow: 0 5px 10px #d31293;  /*!-color borde sobresale ---->*/
 }  

 .card .back .link {
    border-top: solid 2px #000;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #fff;
}

.card .back h3 {
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
/*!----Final Parte Trasera ----->*/
/*!------ Final instrumentos vallenatos Face y Back---->*/
/*!---------------------------------------------------->*/


/*!-------Inicio: Menu Hambuergueza------------------>*/
.menu{
    position: fixed;
    top: 40px;
    right: 9px;
    background: #ffffff;
    width: 78px;
    height: 70px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px black;
}

.menu-navegacion{
    position: fixed;
    top: 98px;
    right: 0;
    width: 6vw;
    height: 84%;
    background-image: url(../images/fondoRep.png);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px black;
    z-index: 1; 
}

.close {
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 4px;
    top: 1px;
    background: rgb(2, 251, 172);
    color: #000;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 8px black;
} 

.menu-navegacion .images{
    border-radius: 50%;
    width: 30%;
    height: 1%;
    text-align: center;
    color:#fff;
    background: red;
}

.menu-navegacion .name {
    border-radius: 10%;
    width: 55%;
    text-align: center;
    color: #000000;
    background: #f3f1f1;
    font-size: 12px;
}

.spread{
    transform: translate(0);
}

.menu-navegacion a {
    color:#fff;
    background: hsl(44, 98%, 50%);
    text-decoration: none;
}

@media(max-width:700px){
    .menu-navegacion{
        color: #000;   /*!---- ojo sin este color ----->*/
    }
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: center;
}

.social-media-icon {
    display: inline-block;
    margin-left: 2px;
    width: 40px;
    height: 40px;
    border: 1.5px solid black;
    border-radius: 40px;
    text-align: center;
    color: rgb(137, 168, 65);
}

.social-media-icon:hover {
    background: #fff;
    color: #f00808;
}

.social-media-icon i{
    font-size: 20px;
    line-height: 40px;
}

.main{
    padding-top: 3rem;
}
/*!--------Final: Menu Hambuergueza------------------>*/



/*!---- Inicio: Direccionales hacia Abajo----->*/
.pimienta {
    text-align: center;
  }
  
.pimienta a {
    padding: 7px 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  
   .header a:hover {
    color: #020005;
  }
  /*!---- Final: Direccionales hacia Abajo ----->*/

/*!---------- Inicio: Boton Direccional Abajo ---------->*/
.boton {
    display: inline-block;
    padding: 4px 2px;
    background-color: hsl(177, 63%, 74%);
    color: aliceblue;
    text-decoration: none;
    border-radius: 10px 2px 18px 0px;
    border-style: double;
    margin: 10px;
    font-weight: bold;
  }

  .boton:hover {
    background-color: chartreuse;
  }
  /*!---------- Final: Boton Direccional Abajo ---------->*/


/*!---------- Inicio: Button Dame Click ---------->*/
.button {
    display: inline-block;
    padding: 4px 2px;
    background-color: hsl(177, 63%, 74%);
    color: aliceblue;
    text-decoration: none;
    border-radius: 10px 2px 18px 0px;
    border-style: double;
    margin: 10px;
    font-weight: bold;
  }

  .button:hover {
    background-color: chartreuse;
  }
/*!---------- Final: Button Dame Click ---------->*/



  /*!------ Inicio: Direccionales hacia Arriba -------->*/
  .lierlis {
    scroll-behavior: smooth;
  }
  
  .btn-scrolltop {
    position: fixed;
    bottom: 20px;
    border-radius: 100%;
    right: 10px;
    padding: 15px 20px;
    background: #030200;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    cursor: pointer;
    z-index: 1;
    transform: translateY(100px);
    transition: 0.3s;
  }
  
  .btn-scrolltop-on {
    transform: translateY(0);
  }
    /*!------ Final: Direccionales hacia Arriba -------->*/



/*!----- Inicio:  El Mundo Gira ------->*/
*
section {
    display: flex;
    transform-style: preserve-3d;
    align-items: center;
    justify-content: center;
}

.earth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 260px;
    background: url(../images/gira.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: inset 0 0 20px rgb(0, 0, 0), 0 0 50px #4069ff;
    animation: animateEarth 15s linear infinite;
}

@keyframes animateEarth {
    0% { 
        background-position: 0 0;
    }
    100% {
        background-position: -750px 0;
    }
}

.circle {
    transform-style: preserve-3d;
    animation: animateText 10s linear infinite;
}

.circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #c3b000;
    color: #000;
    font-size: 1.2em;
    transform-origin: center;
    transform-style: preserve-3d;
    padding: 7px 10px;
    transform: rotateY(calc(var(--i) * calc(360deg / 37))) translateZ(200px);
    border-top: 4px solid #35146f;
    border-bottom: 4px solid #35146f;
}

.circle span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    background: #fff;
    transform: translateZ(-5px);
}

@keyframes animateText {
    0% {
        transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
    }
    100% { 
        transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
     }
 }
/*!------ Final: El Mundo Gira ------->*/



/*!---- inicio: Reproductor lateral----->*/
.now-playing {
    position: relative;
    height: 10px;
    cursor: pointer;
    border-radius: 10px;
    z-index: 1;
}
/*!---- Final: Reproductor lateral----->*/
  


/*!------ Inicio  Paypal ------->*/
.paypal {
    position: absolute;
    right: 33px;
    top: 20%; 
}
/*!------Final: paypal ------->*/


/*!------ Inicio: EL QR ------->*/
.contable2{
    position: absolute;
    display: inline-block;
    width: 60%;
    align-items: flex-start;
    justify-content: flex-start;
    left: 33px;
    top: 20%; 
}
/*!------Final: EL QR ------->*/


.sabor {
    margin-left: 1%;
}


/*!----------Inicio:  Resoluciones ------------------->*/

.resolucion {
    width: 99%;
    text-align: center;
  }
  
  
  /**Movil**/
    @media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
  }
  
  
  /**Tablet**/
    @media (min-width: 768px) and (max-width: 990px) {
    .desktop {
        display: none;
    }
    .movil {
        display: none;
    }
  }
  
  
  /**Escritorio**/
    @media (min-width: 991px) {
    .tablet {
        display: none;
    }
    .movil {
        display: none;
    }
  }
/*!------------ Final: Resoluciones ------------->*/



/*!-------- Inicio: Autografo -------->*/
.maino {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mar-caga {
    width: 100%;
    height: 300px;
    max-width: 900px;
    position: relative;
    border: 3px solid black;
    border-radius:3px;
    box-shadow: 0 0 10px rgb(202, 233, 75);
  }
  
  .mard-caga:hover .mar-content{
    opacity: 1;
  }
  
  .mar-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;
  }
  
  .mar-author {
    position: absolute;
    bottom: 2px;
    left: 2px;
  }
  
  .author {
    display: inline-block;
    font-weight: bold;
  }
  
  .date {
    font-size: 12px;
  }
  
  .mar-author img {
    float: left;
    height: 35px;
    width: 35px;
    object-fit: cover;
    margin-right: 5px;
  }
  /*!-------- Final: Autografo -------->*/


/*!------------------------------------------------>*/
/*!---- Anuncia: con Nosotros ----->*/
.contable{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    top: 48%;
  }
  
  .contable .wrapper{
    width: 600px;
    height: 250px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    margin: 3px auto;
    overflow: hidden;
  }
  
  .contable .wrapper-holder{
    display: grid;
    grid-template-columns: repeat(10, 100%);
    height: 100%;
    width: 100%;
    animation: slider 90s infinite alternate ease-in-out;
  }
  
  .contable .slider1{
    background-image: url(../img/slider1.jpg);
    background-position: center;
    border: none;
  }
  
  .contable .slider2{
    background-image: url(../img/slider2.jpg);
    background-position: center;
    border: none;
  }
  
  .contable .slider3{
    background-image: url(../img/slider3.jpg);
    background-position: center;
    border: none;
  }
  
  .contable .slider4{
    background-image: url(../img/slider4.jpg);
    background-position: center;
    border: none;
  }

  .contable .slider5{
    background-image: url(../img/slider5.jpg);
    background-position: center;
    border: none;
  }

  .contable .slider6{
    background-image: url(../img/slider6.jpg);
    background-position: center;
    border: none;
  }
  
  .contable .slider7{
    background-image: url(../img/slider7.jpg);
    background-position: center;
    border: none;
  }

  .contable .slider8{
    background-image: url(../img/slider8.jpg);
    background-position: center;
    border: none;
  }

  .contable .slider9{
    background-image: url(../img/slider9.jpg);
    background-position: center;
    border: none;
  }

  @keyframes slider {
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-200%);}
    30%{transform: translateX(-300%);}
    40%{transform: translateX(-400%);}
    50%{transform: translateX(-500%);}
    60%{transform: translateX(-600%);}
    70%{transform: translateX(-700%);}
    80%{transform: translateX(-800%);}
    90%{transform: translateX(-900%);}
  }
    /*!---- Anuncia: con Nosotros ----->*/
  /*!------------------------------------------------>*/












































